
// $bp:(
//     mobile: 480px,
//     tablet: 768px,
// );

// @mixin query ($screen){
//     @each $key, $value in $bp{
//         @if($key == $screen){
//             @media (max-width:$value){
//                 @content;
//             }
//         }
//     }
// }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    .hero{
        background-color:green;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        // height: 100px;
        background-color: skyblue;
        margin: 0 auto;
        padding: 2.5em 0;
        // margin: .1em;
    }

}




@media (max-width:768px){
    
    body .hero {
        .container{
            width: 95%;
            background-color: black;
        }
    }
}


@media (max-width:480px){
    body .hero {

       .container{
            width: 95%;
            background-color: red;
       }
    }
}



// @media (max-width:768px){
    
//     body .container{
//         width: 95%;
//         background-color: red;
//     }
// }
// @include query (mobile) {
    
//     body .container{
//         width: 95%;
//         background-color: black;
//     }
// }

// @include query (tablet) {
    
//     body .container{
//         width: 95%;
//         background-color: red;
//     }
// }